@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  margin: 0; }
  body .main_container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: "side_bar header" "side_bar main" "side_bar footer"; }
    body .main_container #header {
      border: 1px solid red;
      grid-area: header; }
    body .main_container #main {
      border: 1px solid blue;
      grid-area: main; }
      body .main_container #main #logout {
        height: 60px;
        width: 60px;
        background: #141F3C;
        border-radius: 50%;
        font-size: x-small;
        border: none;
        outline: none; }
    body .main_container #side_bar {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-end;
      margin: 0;
      grid-area: side_bar;
      padding: 5px;
      overflow: hidden; }
      body .main_container #side_bar img {
        height: 56px;
        width: 141px; }
      body .main_container #side_bar .sendbox, body .main_container #side_bar .inbox {
        margin-top: 20px;
        width: 100%;
        padding: 5px;
        transition-property: all;
        transition-duration: 0.5s; }
      body .main_container #side_bar .sendbox:hover {
        background: #141F3C;
        color: #E9E9E9;
        cursor: pointer;
        width: 100%; }
      body .main_container #side_bar .inbox:hover {
        background: #141F3C;
        color: #E9E9E9;
        cursor: pointer;
        width: 100%; }
    body .main_container #footer {
      border: 1px solid black;
      grid-area: footer; }
