@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');



$b-color:#141F3C;
$s-color:#192C54;
$lb-color:#4C5A75;
$l-color:#E9E9E9;
$c-color:#E7DAD1;
$smoke:whitesmoke;
$grey:#9CA1A6;
$dark:black;
$light:white;
$val:0.5em;
$empty-val:none;
$hidden:hidden;
$null:0;
$half-rem:0.5rem;
$pointer:pointer;



@mixin display($scr){
    display:$scr;
}
 @mixin area($areas){
  grid-area:$areas;
}
 @mixin d_flex($f_display,$direction,$justify,$align){
  display:$f_display;
  flex-direction:$direction;
  justify-content:$justify;
  align-items:$align;
}
@mixin d_grid($g_display,$columns,$rows,$g_areas){
  display:$g_display;
  grid-template-columns:$columns;
  grid-template-rows:$rows;
  grid-template-areas:$g_areas;
}
@mixin size($hgt,$wdt){
  height:$hgt;
  width:$wdt;
}
@mixin f_size($font){
  font-size:$font;
}
@mixin radius($bdr){
  border-radius:$bdr; 
}
@mixin size($hgt,$wdt){
  height:$hgt;
  width:$wdt;
}
@mixin percent($p_vh){
  margin:$p_vh;
}
@mixin border_view($args){
    border: $args;
}


body{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    @include size(100vh, 100vw);
    @include percent(0);

    .main_container{
        @media(max-width:768px) {
            display: flex;
            flex-direction: column;
        }

        @include size(100%, 100%);
        @include d_grid(grid,
                        15% 85%, 
                        40% 56% 4%, 
                        'side_bar header'
                        'side_bar main'
                        'side_bar footer'
                        );
        overflow: hidden;
        color: #E7DAD1;

        #header{
            @media(max-width:768px) {
                width: 100%;
                height: 40%;
                background: none;
            }
            @include d_flex(flex, row, center, center);

            overflow: hidden;
            grid-area: header;
            background: #141F3C;
            padding: 5px;
            
            h3,p{
                color: #141F3C;
                font-weight: bold;
            }

            #slider{
                @media(max-width:480px) {
                    @include size(150px, 300px);
                }
                @include size(250px, 700px);
            }
        }
        #main{
            @media(max-width:768px) {
                width: 100%;
                height: 55%;
            }
            grid-area: main;
            padding: 5px;
            color: #141F3C;
            font-weight: bold;
        }
        #side_bar{
            @media(max-width:768px) {
                display: none;
            }

            @include d_flex(flex, column, start, flex-end);
            @include percent(0);
            
            color: #E7DAD1;
            background: #192C54;
            grid-area: side_bar;
            padding: 5px;
            overflow: hidden;

            img{
                @include size(56px, 141px);
            }

            .sendbox, .inbox, .logout{
                margin-top: 20px;
                width: 100%;
                padding: 10px;

                background: rgba($color: #4C5A75, $alpha: 0.05);

                transition-property: all;
                transition-duration: 0.5s;
            }

            .sendbox{
                &:hover{
                    background: #141F3C;
                    color: #E9E9E9;
                    cursor: pointer;
                    width: 100%;
                }
            }

            .inbox{
                &:hover{
                    background: #141F3C;
                    color: #E9E9E9;
                    cursor: pointer;
                    width: 100%;
                }
            }

            .logout{
                &:hover{
                    background: #141F3C;
                    color: #E9E9E9;
                    cursor: pointer;
                    width: 100%;
                }
            }

        }
        #footer{
            @media(max-width:768px) {
                width: 100%;
                height: 5%;
            }

            @include d_flex(flex, row, center, center);

            box-shadow: 0 0 9px #141F3C;
            background: #4C5A75;
            grid-area: footer;

            strong{
                font-size: x-small;
            }
        }
    }
}