@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');



$b-color:#141F3C;
$s-color:#192C54;
$lb-color:#4C5A75;
$l-color:#E9E9E9;
$c-color:#E7DAD1;
$smoke:whitesmoke;
$grey:#9CA1A6;
$dark:black;
$light:white;
$val:0.5em;
$empty-val:none;
$hidden:hidden;
$null:0;
$half-rem:0.5rem;
$pointer:pointer;



@mixin display($scr){
    display:$scr;
}
 @mixin area($areas){
  grid-area:$areas;
}
 @mixin d_flex($f_display,$direction,$justify,$align){
  display:$f_display;
  flex-direction:$direction;
  justify-content:$justify;
  align-items:$align;
}
@mixin d_grid($g_display,$columns,$rows,$g_areas){
  display:$g_display;
  grid-template-columns:$columns;
  grid-template-rows:$rows;
  grid-template-areas:$g_areas;
}
@mixin size($hgt,$wdt){
  height:$hgt;
  width:$wdt;
}
@mixin f_size($font){
  font-size:$font;
}
@mixin radius($bdr){
  border-radius:$bdr; 
}
@mixin size($hgt,$wdt){
  height:$hgt;
  width:$wdt;
}
@mixin percent($p_vh){
  margin:$p_vh;
}
@mixin border_view($args){
    border: $args;
}



body{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    @include size(100vh, 100vw);
    @include percent(0);

    .main_container{
        @include size(100%, 100%);
        @include d_grid(grid,
                        10% 90%, 
                        20% 60% 20%, 
                        'side_bar header'
                        'side_bar main'
                        'side_bar footer'
                        );

        #header{
            @include border_view(1px solid red);
            grid-area: header;
        }
        #main{
            @include border_view(1px solid blue);
            grid-area: main;

            #logout{
                @include size(60px, 60px);
                background: #141F3C;
                border-radius: 50%;
                font-size: x-small;
                border: none;
                outline: none;
            }
        }
        #side_bar{
            @include border_view(1px solid yellow);
            grid-area: side_bar;
        }
        #footer{
            @include border_view(1px solid black);
            grid-area: footer;
        }
    }
}